<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Project</h1>
  <ul ngbNav #nav="ngbNav" class="nav-tabs">
    <li ngbNavItem>
      <a ngbNavLink [routerLink]="['']">Home</a>
      <ng-template ngbNavContent ></ng-template>
    </li>
    <li ngbNavItem>
      <a ngbNavLink [routerLink]="['/listRecipe']">Recipe Search</a>
      <ng-template ngbNavContent></ng-template>
    </li>
    <li ngbNavItem>
      <a ngbNavLink [routerLink]="['/imageSearch']">Image Search</a>
      <ng-template ngbNavContent></ng-template>
    </li>
    <li ngbNavItem>
      <a ngbNavLink [routerLink]="['/mealPlanner']">Meal Planner</a>
      <ng-template ngbNavContent></ng-template>
    </li>
    <li ngbNavItem>
      <a ngbNavLink [routerLink]="['/login']">Sign In</a>
      <ng-template ngbNavContent></ng-template>
    </li>
    <li ngbNavItem>
      <a ngbNavLink [routerLink]="['/signup']">Sign Up</a>
      <ng-template ngbNavContent></ng-template>
    </li>
    <li>
      <div class="row">
        <div class="col">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>UserName</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem>Profile</button>
              <button ngbDropdownItem>Sign Out</button>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
  <router-outlet></router-outlet>
</body>
</html>
