<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Search Recipe" aria-label="" aria-describedby="button-addon2" #searchTerm>
      <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="searchRecipe(searchTerm.value)">Search</button>
    </div>
    <div class="input-group mb-3">
      <input type="file" class="file-input" (change)="onFileSelected($event)" placeholder="Upload Image" aria-label="" aria-describedby="button-addon2">
      <button class="btn btn-outline-secondary" type="button" (click)="fileUpload()" id="button-addon2">Upload</button>
    </div>

    <div class="basic-grid">
      <div class="card" style="width: 18rem;" *ngFor="let recipe of recipesList">
        <img src={{recipe.imageUrl}} class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{recipe.label}}</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>Calories: </strong>{{recipe.caloriesPerServing}} kcal</li>
            <li class="list-group-item"><strong>Servings: </strong>{{recipe.servings}} pax</li>
            <li class="list-group-item"><strong>Cook Time: </strong><span *ngIf="recipe.totalTime==0; else cookTime">10 minutes</span></li>
            <ng-template #cookTime>
              {{recipe.totalTime}} minutes
            </ng-template>
          </ul>
          <a href="#" class="btn btn-primary" [routerLink]="['/recipesDetail']">Details</a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>



